@font-face {
  font-family: "F37GingerPro-Regular";
  src: url("../public/fonts/F37GingerPro-Regular.otf");
  /* font-weight: 900; */
  /* font-style: normal; */
}

.heading {
  font-family: "F37GingerPro-Regular";
  width: fit-content;
}

.itemBody {
  margin-top: 5em;
  width: 100%;
}

.itemBody p {
  display: none;
}

.codeContainer {
  max-width: 80%;
}

.itemContainer {
  padding-top: 10vh;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column-reverse;
  animation: FadeIn 0.5s forwards;
}

.viewButton {
  border: 2px solid black;
  padding: 1em;
  width: fit-content;
  max-width: "50%";
  transition: all 0.3s;
}

.viewButton:hover {
  background-color: black;
  color: white;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .codeContainer {
    max-width: 60%;
  }
  .itemContainer {
    padding-top: 20vh;
  }

  .itemBody p {
    display: block;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .itemContainer {
    padding-top: 30vh;
    flex-direction: row;
  }

  .itemBody {
    width: 35%;
  }

  .codeContainer {
    width: 50%;
  }
}

.hideBody {
  animation: HideBody 0.5s forwards, Hide1 0s 0.5s forwards;
}

@keyframes HideBody {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes Hide1 {
  0% {
  }
  100% {
    width: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
}

.headingSmall {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: HideBody reverse 0.5s;
  animation-fill-mode: backwards;
}

.headingSmall h1 {
  font-family: "F37GingerPro-Regular";
  width: fit-content;
  margin: 0;
}

.smallHeadingContainer {
  max-width: 40em;
  height: 100%;
  margin: auto;
  width: 100%;
  padding: 0em 2em;
}

@keyframes fadeOutK {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeOut {
  animation: fadeOutK 0.5s;
  animation-fill-mode: forwards;
}
